In [ ]:
# 1) Swap two numbers using 3rd variable
a = 50
b = 20
tem = a
a = b
b = tem
print("After swapping the numbers using third variable tem")
print("a after swap",a)
print("b after swap",b)

After swapping the numbers using third variable tem
a after swap 20
b after swap 50

In [ ]:
# 2) Swap two numbers without using 3rd variable
# usign arithmetic logic
a = 50
b = 20
a = a + b
b = a -b
a = a-b
print("after swapping","a=",a,"b=",b)

after swapping a= 20 b= 50

In [ ]:
# 3) Remove duplicate elements from a list without converting to tuple
list1 = [1,1,3,4,5,6,7,2,1,2]
correctlist=[]
for i in list1:
  if i not in correctlist:
    correctlist.append(i)
    correctlist

print("correctlist",correctlist)

correctlist [1, 3, 4, 5, 6, 7, 2]

In [ ]:
# 4) Write a loop to print following series
# 10, 20, 30,  …………………, 300
list1 = []
for numbers in  range(10,301,10): # start, end, increasement
  list1.append(numbers)
list1

In [ ]:
# 5) Write a loop to print following series
# # 105,98,91,………………………,7
series2 = []
for numbers2 in range(105,6,-7): # do minus gives decreasements
  series2.append(numbers2)
series2

[105, 98, 91, 84, 77, 70, 63, 56, 49, 42, 35, 28, 21, 14, 7]

In [ ]:
# 7) Write a program to print Fibonacci series till n terms take n =50
n=50
a = 0
b =1
for i in range(n):
  print(a, end=' ,')
  (a,b)=(b,a+b)

0 ,1 ,1 ,2 ,3 ,5 ,8 ,13 ,21 ,34 ,55 ,89 ,144 ,233 ,377 ,610 ,987 ,1597 ,2584 ,4181 ,6765 ,10946 ,17711 ,28657 ,46368 ,75025 ,121393 ,196418 ,317811 ,514229 ,832040 ,1346269 ,2178309 ,3524578 ,5702887 ,9227465 ,14930352 ,24157817 ,39088169 ,63245986 ,102334155 ,165580141 ,267914296 ,433494437 ,701408733 ,1134903170 ,1836311903 ,2971215073 ,4807526976 ,7778742049 ,

In [ ]:
# 8) Write a program to print factorial of a number
def factoriall(n):
  if n<0:
    print("negative haave no factorila")
  elif n==0:
    print("o")
  else:
    for i in range(n-1):
      print(i+1,end='*')

In [ ]:
fact = factoriall(67)

1*2*3*4*5*6*7*8*9*10*11*12*13*14*15*16*17*18*19*20*21*22*23*24*25*26*27*28*29*30*31*32*33*34*35*36*37*38*39*40*41*42*43*44*45*46*47*48*49*50*51*52*53*54*55*56*57*58*59*60*61*62*63*64*65*66*

In [ ]:
# 9) Write a program to check if a number is Armstrong or not
def armstrong(number):
  str_number = str(number)
  length_number= len(str_number)
  sum = 0
  for digits in  str_number:
    sum = sum + int(digits)**length_number
    try:
      if sum == number:
        print("Given number is armstrognnumber:")
      else:
        print("not a armstrrong number")
    except:
      print("error values")

In [ ]:
b = armstrong(6)

Given number is armstrognnumber:

In [ ]:
# 10) Write a program to convert binary to decimal
def convert_bin_dec(number):
  bin_number= str(number)
  dec_number = 0
  power = 0
  for digits in  reversed(bin_number):
    dec_number  =  dec_number  + int(digits)*2**(power)
    power = power +1
  print("DEcimal number is:",dec_number)

In [ ]:
convert_bin_dec(101000)

DEcimal number is: 40

In [ ]:
# 13) Write a program to print all numbers which are divisible by 13 but not by 3 between 100 and 500
def divsible_13_notby_3():
  for number in range(100,501):
    if number % 13 == 0 and number %3!=0:
      print("this number meets condition",number)
    else:
      print("this number  no condition",number)

In [ ]:
divsible_13_notby_3()

In [ ]:
 #14) Write a Python program to convert temperatures to and from Celsius and Fahrenheit.
def tem_en_faher():
  Fahrenheit = 0
  a = 9/5
  celcius_tem = int(input("enter the celcius tem:"))
  Fahrenheit =   Fahrenheit + celcius_tem*a + 32
  print("farhenit tem =",Fahrenheit)

In [ ]:
b = tem_en_faher()

enter the celcius tem:32
farhenit tem = 89.6

In [ ]:
#16Write a Python program that accepts a string and calculates the number of digits and letters.
# Sample Data: Python 3.2
# Expected Output:
# Letters 6
# Digits 2
def finding_num_lett(string_input):
  num_of_letter = 0
  num_of_digits = 0
  for character  in string_input:
    if  character.isnumeric():
      num_of_digits = num_of_digits +1
    if character.isalpha():
      num_of_letter = num_of_letter +1
  return num_of_digits,num_of_letter

In [ ]:
finding_num_lett('ram4.   yt=67')

(3, 5)

In [ ]:
#17) Print all possible combination for a string or a word

# Sample input “ABC”

# Sample output

# BAC

# CAB

# CBA

# ACB

# BCA

In [50]:
# reverse functionin pythonis used to reverse the numbers like,list,tuples, dictionay, not the string
def reverse_words(input_str):
    words = input_str.split()  # Split the input string into a list of words
    reversed_words = words[::-1]  # Reverse the list of words
    reversed_str = ' '.join(reversed_words)  # Join the reversed words back into a string
    return reversed_str

In [49]:
input_str = "ABC"
reversed_str = reverse_words(input_str)
print(reversed_str)

ABC

In [65]:
#18) Write a Python program to check if a triangle is equilateral, isosceles or scalene. Take 3 inputs for each side
# Note :
# An equilateral triangle is a triangle in which all three sides are equal.
# A scalene triangle is a triangle that has three unequal sides.
# An isosceles triangle is a triangle with (at least) two equal sides.side
side1 = int(input("enter the sideone.n"))
side2 = int(input("enter the sidetwo:"))
side3 = int(input("enter the sidethree:"))
#print("side one, side two, side three.\n",side1,side2,side3)
if side1==side2==side3:
  print("Given triangel is eqaliteral triange.\n")
elif side1!=side2!=side3:
  print("Given triangel is scalenel triange.\n")
else:
  print("Given triangel is isosceles triange.\n")

enter the sideone.n1
enter the sidetwo:2
enter the sidethree:3
Given triangel is scalenel triange.

In [103]:
#19) Write a Python program to get the next day of a given date.
# Expected Output:

# Input a year: 2016

# Input a month [1-12]: 08

# Input a day [1-31]: 23

# The next date is [yyyy-mm-dd] 2016-8-24#
Year = str(input("enter the yerar:"))
months = int(input("enter the months"))
dates = int(input("enter the date"))

if (months>0 and months<11) and (dates>0 and dates<30) and (len(Year)==4):
  print("next date is",Year,months ,dates+1)
else:
  print("input is invalid")

enter the yerar:3456
enter the months4
enter the date234
input is invalid