In [ ]:
#****Comprehensive*****

In [ ]:
list
DICTIONARY
SET
GENERATIVE

In [4]:
for i in range(100):
  print(i,end= ',')

0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,

In [5]:
#representives in the list comprehensive using sqaur ebraket, list is represented by sqaure bracket
list_comp1 = [i for i in range(100)]
print(list_comp1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [7]:
for i in range(100):
  if i%3 ==0:
    print(i,end=',')

0,3,6,9,12,15,18,21,24,27,30,33,36,39,42,45,48,51,54,57,60,63,66,69,72,75,78,81,84,87,90,93,96,99,

In [9]:
# print same things in the form of list Comprehensive
list_comp2 = [i for i in range(100)  if i%3 ==0 ]
print(list_comp2)
# got all the values in the form of list

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

In [10]:
fruit_lst = ['apple','banaba','cherrie','dates','jackfruit','eggfruit','qwiki','orange']
for i in fruit_lst:
  if 'a' in i:
    print(i)

apple
banaba
dates
jackfruit
orange

In [12]:
fruit_lst = ['apple','banaba','cherrie','dates','jackfruit','eggfruit','qwiki','orange']
list3_comp3= [i for i in fruit_lst if 'a' in i]
print(list3_comp3)

['apple', 'banaba', 'dates', 'jackfruit', 'orange']

In [14]:
fruit_list = ['dateapple','mangoapple','gatapple']
for i in fruit_list:
  if 'apple' in i:
    print(i)

dateapple
mangoapple
gatapple

In [15]:
fruit_list = ['dateapple','mangoapple','gatapple']
list_comp4 = [i for i in fruit_list if 'apple' in i ]
print(list_comp4)

['dateapple', 'mangoapple', 'gatapple']

In [ ]:
# this gives list comprehensive

In [29]:
fruit_list = ['dateapple','mangoapple','gatapple','cat','fract']
list_comp4 = [i for i in fruit_list if i.lower()[0]=='c'or i[0]=='C'  ]
print(list_comp4)

['cat']

In [20]:
fruit_list = ['dateapple','mangoapple','gatapple','cat','fract']
for i in fruit_list:
  if i[0]=='c':
    print(i)

cat

In [32]:
lst_matrix = [[i for i in range(3)] for j in range(3)]
lst_matrix

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [33]:
list_str = [i for i in "python prigramming"]
list_str

['p',
 'y',
 't',
 'h',
 'o',
 'n',
 ' ',
 'p',
 'r',
 'i',
 'g',
 'r',
 'a',
 'm',
 'm',
 'i',
 'n',
 'g']

In [46]:
ndim2array = [[10,20,30],
              [40,50,60],
               [70,80,90]]
ndim2array
lst1 = [[ j for i in ndim2array] for j in ndim2array]
lst1

[[[10, 20, 30], [10, 20, 30], [10, 20, 30]],
 [[40, 50, 60], [40, 50, 60], [40, 50, 60]],
 [[70, 80, 90], [70, 80, 90], [70, 80, 90]]]

In [8]:
# Dictionary comprehension
dictcompre = {i: f"item(i)" for i in range(10)}
dictcompre

{0: 'item(i)',
 1: 'item(i)',
 2: 'item(i)',
 3: 'item(i)',
 4: 'item(i)',
 5: 'item(i)',
 6: 'item(i)',
 7: 'item(i)',
 8: 'item(i)',
 9: 'item(i)'}

In [20]:
# setcomprehensive
set1 = {1,2,3,4,'a','b','c'}
set2 = {i for i in set1}
set2

{1, 2, 3, 4, 'a', 'b', 'c'}

In [31]:
 for numbers in range(50):
  if numbers%2 ==0:
    setcomprenshivev = {numbers for numbers in range(50)  if numbers%2 ==0 }

In [ ]:
# Biweekely revision.
# what is lambad
# lambda is a anymonous function
# we can write anywhere in the program and utilize it anywhere

In [32]:
x = lambda x, y: x*y
# onthes two inputs performing the opertion
# calling the lambda, taking the values and performing th sets of opetion
x(12,23)

276

In [33]:
# lambda function takes input and perform operation in the same line
str1 = 'python progrmming'
x = lambda str1: str1.upper()
x(str1)

'PYTHON PROGRMMING'

In [35]:
x = lambda a,b: a if a>b else b
x(12,23)
# 12 i snot greater than 23 so it is in else function, it is cheking the both condition
#  we need lambda function to short cut, not doing to many things for declaering the function

23

**args* ,**kwargs*
non key values arguments, and key values argumnets

In [37]:
# have a function def adn  a,b are the variables, doing the multiplication of these two fucntion
def fun_one(a,b):
  return a+b
fun_one(10,10)

20

In [43]:
# args is not the without any key, can pass any numbers of valus
def fun_two(*args):
  return(args)
fun_two(12,33,67,8)
# where do we use args, we use it to inputs the values, it is important because it is taking lotsof value
#  we don't neeed to input too many argumnets for the code, it is big things

(12, 33, 67, 8)

In [45]:
def fun_three(**kwargs):
  return kwargs
fun_three(a='apple',b='banana')
# in the form of dictionay values turn in key
# key values
# randomly wants to put the key and can have numbers of parameters/

{'a': 'apple', 'b': 'banana'}

In [48]:
def func_four(a,b,*arg,**kwargs):
  return(a,b,arg,kwargs)
# (first always shoube be normal varibales, then arg adn kwargs)
func_four(12,34,67,78,4,5,6,c='apple',d='ball')

(12, 34, (67, 78, 4, 5, 6), {'c': 'apple', 'd': 'ball'})

In [49]:
import pandas as pd
# we have done n muners of import

In [54]:
path = '/content/Churn_Modelling.csv'
df_bf = pd.read_csv(path)
df_bf
type(df_bf)

pandas.core.frame.DataFrame

In [61]:
# changin the fromat of file from

# df_bf.to_excel('churn_modelling.xlsx')
ram = '/content/churn_modelling.xlsx'
ram_xls = pd.read_excel(ram)
ram_xls

,Unnamed: 0,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [ ]:
#  you can change data frame into any format and open into excel or any format.

In [ ]:
# how tables store sthe data, basis unit of data base managenmt system

In [ ]:
# install my sql onmachine or computer